* {
    cursor:url(https://imnotaacrook.github.io/media/cur/1.cur), auto;
    image-rendering:pixelated;
    image-rendering:crisp-edges;
    font-smooth:none;
    font-size:12px;
    font-family:"w98";
}
::selection {
    background:yellow;
    color:black;
}
body {
    text-indent:15px;
}
a {
    color:darkblue;
}
a:hover {
    color:blue;
    font-style:italic;
    border:1px dashed lightgrey;
}
a:active {
    border:1px dashed #909090;
    background: #494949;
    color:#0c0c0c
}
ul {
    list-style-type: square;
    list-style-position: inside;
    margin:0;
    padding:0;
    text-indent:0px;
}
audio {
    filter:invert();
    cursor:url(https://imnotaacrook.github.io/media/cur/1.cur), auto;
}
audio::-webkit-media-controls-play-button,audio::-webkit-media-controls-mute-button,audio::-webkit-media-controls-timeline,audio::-webkit-media-controls-volume-slider-container,:hover {
    cursor:url(https://imnotaacrook.github.io/media/cur/1click.cur), auto;
}
a:hover {
    cursor:url(https://imnotaacrook.github.io/media/cur/1click.cur), auto;
}
p {
    font-size:12px;
}
h1 {
    font-size:18px;
}
h2 {
    font-size:16px;
}
h3 {
    font-size:14px;
}
@font-face {
    font-family:"w98";
    src:url("https://leopard.hosting.pecon.us/dl/iuztl/W95FA.otf");
}
